ion-content {
    --background: var(--color-yellow) !important;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80%;

        .top-field {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 80%;
            }

            ion-label {
                position: relative;
                bottom: 50%;

                position: relative;
                bottom: 50%;
                color: var(--color-gray);
                text-align: center;
                font-family: 'Poppins';
                font-size: 35px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.042px;
            }

        }

        .bottom-field {
            position: absolute;
            bottom: -1px;
            height: 30%;
            background-color: var(--color-gray);
            width: 100%;
            border-radius: 20% 20% 0px 0px;

            .bottom-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 6%;
                gap: 10px;

                ion-label {
                    width: 236px;
                    height: 51px;
                    flex-shrink: 0;
                    color: #FEFEFE;
                    text-align: center;
                    font-family: 'Poppins';
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.042px;
                    border-top: 4px solid var(--color-yellow);
                    line-height: 60px;
                }

                ion-text {
                    width: 319px;
                    height: 72px;
                    flex-shrink: 0;
                    color: #FFF;
                    text-align: center;
                    font-family: 'Poppins';
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.017px;
                }

                ion-button {
                    border-radius: 8px;
                    --border-radius: 8px;
                    --background: #FDB623;
                    background: #FDB623;
                    box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.25), 0px -8px 10px 0px rgba(51, 51, 51, 0.20) inset;

                    width: 319px;
                    height: 58px;
                    flex-shrink: 0;
                }
            }
        }
    }
}