<ion-content [fullscreen]="true">
  <div class="container">
    <div class="top-field">
      <ion-label>QR OKUTUCU</ion-label>
      <img src="/assets/imgs/qr.svg" />
    </div>
    <div class="bottom-field">
      <div class="bottom-content">
        <ion-label>Şimdi Başla</ion-label>
        <ion-text>Gidin ve özelliklerimizden ücretsiz olarak yararlanın ve hayatınızı bizimle kolaylaştırın. </ion-text>
        <ion-button routerLink="/tabs/home">İLERİ <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
      </div>

    </div>

  </div>
</ion-content>