ion-content {
    ion-toolbar {
        ion-icon {
            color: #fff !important;
        }

        ion-title {
            color: #fff;
            font-family: 'Poppins';
        }

        .yellow {
            color: var(--color-yellow);
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;

        .frame {
            width: 336px;
            height: 335px;
            flex-shrink: 0;
            filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.25));
            border-radius: 6px;
            border-top: 2px solid #FDB623;
            border-bottom: 2px solid #FDB623;
            background: rgba(59, 59, 59, 0.78);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            position: relative;

            ion-item {
                border-radius: 6px;
                border: 0.5px solid #D9D9D9;
                --background: rgba(51, 51, 51, 0.80);
                width: 290px;
                position: relative;
            }

            .error-message {
                position: relative;
                top: 5px;
                left: 3px;
                font-size: 11px;
                color: var(--ion-color-danger);
            }

            ion-button {
                width: 180px;
                height: 46px;
                flex-shrink: 0;
                margin-top: 20px;

                --background: var(--color-yellow);
                --border-radius: 10px;
            }
        }
    }
}

.sc-ion-input-md-h,
.sc-ion-input-ios-h {
    --color: #fff !important;
    --highlight-color-focused: var(--color-yellow);
}

.input-bottom.sc-ion-input-ios {
    border-top: none !important;
}